.personal-container {
  align-items: center;
  background: white;
  border-radius: 50px;
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09);
  display: flex;
  height: 407px;
  margin: 61px auto 20px;
  width: 958px;
}

.personal-title-container {
  height: 90px;
  margin-left: 63px;
  width: 310px;
}

.personal-title {
  font-family: Rubik, sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.personal-input-container {
  display: flex;
  flex-flow: column nowrap;
  height: 317px;
  justify-content: space-between;
  margin-left: 118px;
  margin-right: 126px;
  width: 346px;
}

.input-row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.input-row .input-text {
  border: none;
  border-radius: 30px;
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09);
  height: 42px;
  margin: 0 10px 0 5px;
  padding-left: 34px;
  width: 167px;
}

.input-row .input-text::placeholder {
  color: #969696;
  font-size: 16px;
  font-weight: 800;
}

.input-row .date-text {
  width: 346px;
}

.body-fat {
  background: white;
  border: none;
  border-radius: 30px;
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09);
  color: #969696;
  font-size: 16px;
  font-weight: 800;
  height: 42px;
  padding-left: 34px;
  width: 100%;
}
