.plan-type-container {
  align-items: center;
  background: white;
  border-radius: 50px;
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09);
  display: flex;
  flex-flow: column nowrap;
  height: 574px;
  width: 297px;
}

.plan-type-title {
  align-items: center;

  /* align-content: baseline; */
  background: #f87d50;
  border-radius: 50px 50px 0 0;
  display: flex;
  flex-flow: column nowrap;
  height: 152px;
  justify-content: flex-start;
  width: 100%;
}

.plan-title {
  color: white;
  font-size: 30px;
  margin-top: 62px;
}

.sub {
  color: white;
  font-size: 22px;
}
