.dietdiff-container {
  align-items: center;
  background: white;
  border-radius: 50px;
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09);
  display: flex;
  height: 258px;
  margin: 0 auto 20px;
  position: relative;
  width: 958px;
}

.dietdiff-title-container {
  height: 62px;
  margin-left: 63px;
}

.dietdiff-title {
  font-size: 25px;
}

.dietdiff-input-container {
  border: 1px solid orange; /* temp */
  height: 146px;
  margin-left: 187px;
  margin-right: 39px;
  width: 284px;
  z-index: 1;
}

.chef-hat {
  height: 146px;
  left: 750px;
  opacity: 0.1;
  position: absolute;
  right: 48px;
  top: 87px;
  width: 160px;
  z-index: 0;
}
