.nav-header {
  align-items: center;
  display: flex;
  font-family: Rubik, sans-serif;
  justify-content: space-between;
  width: 100%;
}

.nav-link-container {
  display: flex;
  justify-content: space-between;
  width: 519px;
}

.nav-link {
  color: #1f1f1f;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  width: 339px;
}
