* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: white;
  color: #1f1f1f;
  display: flex;
  flex-flow: column wrap;
  font-family: Gilroy, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 800;
}

code {
  font-family: Gilroy, sans-serif;
}

@font-face {
  font-family: Gilroy;
  font-weight: 800;
  src: local('Gilroy'),
    url('./fonts/Gilroy/Radomir\ Tinkov\ -\ Gilroy-ExtraBold.otf') format('truetype');
}
